:root {
  --soft-orange:       hsl(35, 77%, 62%);
  --soft-red:          hsl(5, 85%, 63%);
  --off-white:         hsl(36, 100%, 99%);
  --grayish-blue:      hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue:    hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  text-decoration: none;
}

html {
  font-family: inter;
}

body {
  background-color: var(--off-white);
}

a {
  width: fit-content;
  height:  fit-content;
}

p {
  font-size: 0.93rem;
}

img:not(.logo img) {
  align-self: center;
  max-inline-size: 100%;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4.3rem);
  color: var(--very-dark-blue);
  font-weight: 800;
  line-height: 1;
  padding: 1rem 0;
}

h2 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  color: var(--soft-orange);
  height: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: clamp(1.5rem, 5vw, 3.3rem);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(251, 4%, 52%, 80%);
  display: none;
  z-index: 1;
}

.main-container {
  padding: clamp(1.5rem, 5vw, 3.5rem) clamp(1rem, 5vw, 7rem) clamp(2rem, 5vw, 5rem);
}

.inner-container,
.inner-1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo img {
  inline-size: clamp(65%, 5vw, 130%);
}

.header-links {
  display: none;
}

.header-links.visible {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 70%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 30%;
  background-color: var(--off-white);
  padding: 1.5rem 1rem;
  gap: 1.5rem;
  animation: slide-in .4s ease-in;
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s ease-out, opacity .3s ease-out;
}

.header-links.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

.header-link {
  color: var(--dark-grayish-blue);
  font-size: clamp(.9rem, 4vw, 1.1rem);
  font-weight: 500;
  transition: .2s ease-in;
}

.header-link:hover {
  color: var(--soft-red);
}

.burger-button {
  height: fit-content;
}

.burger-button:hover {
  cursor: pointer;
}

.close-menu {
  margin-left: auto;
  margin-bottom: 3rem;
}

.close-menu:hover {
  cursor: pointer;
}

.close-menu img {
  inline-size: 80%;
}

.top-image {
  background-image: url('./assets/images/image-web-3-mobile.jpg');
  background-size: cover;
  aspect-ratio: 1;
}

.inner1-text2 p,
.feature-copy {
  font-size: clamp(.82rem, 4vw, 1.1rem);
  line-height: 1.7;
  color: var(--dark-grayish-blue);
}

.top p {
  padding-bottom: clamp(1.7rem, 5vw, 3rem);
}

.top-button {
  padding: clamp(.75rem, 4vw, 1rem) clamp(2rem, 5vw, 3.5rem);
  font-size: clamp(.6rem, 3vw, .9rem);
  font-weight: 800;
  color: var(--very-dark-blue);
  letter-spacing: 2px;
  background-color: var(--soft-red);
  transition: .2s ease-in;
}

.top-button:hover {
  cursor: pointer;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

.middle {
  display: grid;
  gap: 1.5rem;
  background-color: var(--very-dark-blue);
  padding: clamp(1.3rem, 5vw, 2.5rem) clamp(1rem, 5vw, 2rem);
}

.new:not(.new-3) {
  border-bottom: solid 1px var(--grayish-blue);
}

.middle h3 {
  color: var(--off-white);
  font-size: clamp(1.1rem, 5vw, 1.4rem);
  transition: .2s ease-in;
  width: fit-content;
}

.middle h3:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

.middle p {
  padding: .4rem 0 clamp(1.5rem, 5vw, 2rem);
  color: var(--grayish-blue);
  font-size: clamp(.8rem, 4vw, 1.1rem);
  line-height: 1.7;
}

.new-3 p {
  padding-bottom: 0;
}

.bottom {
  display: grid;
  gap: 1.5rem;
}

.bottom-feature {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.2rem;
}

.feature-number {
  font-size: clamp(1.6rem, 5vw, 3rem);
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--soft-red);
  height: fit-content;
}

.feature-number,
.feature-text h3 {
  padding-bottom: .4rem;
}

.feature-text {
  display: grid;
}

.feature-text h3 {
  font-size: clamp(.92rem, 5vw, 1.3rem);
  font-weight: 800;
  color: var(--very-dark-blue);
  height: fit-content;
  transition: .2s ease-in;
  width: fit-content;
}

.feature-text h3:hover {
  cursor: pointer;
  color: var(--soft-red);
}

@media (min-width: 1200px) {
  .header-links {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .burger-button,
  .close-menu {
    display: none;
  }
  h1 {
    padding: 0;
  }
  .top-image {
    background-image: url('./assets/images/image-web-3-desktop.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2 / 1;
  }
  .inner-1 {
    flex-direction: row;
  }
  .bottom,
  .inner1-text {
    display: flex;
  }
  .inner1-text {
    display: grid;
    grid-template-columns: .5fr .5fr;
    gap: 4rem;
    transform: translateY(-3rem);
  }
  .inner1-text2 p {
    word-break: break;
    max-width: 100%;
  }
  .middle {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .middle h3 {
    padding-top: 1rem;
  }
  .bottom-feature {
    display: flex;
  }
  .feature-image img {
    height: 100%;
    width: 100%;
  }
  .feature-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .feature-copy {
    white-space: break;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}